TODO.txt

dist/*
build/*
SimpleGUICS2Pygame.egg-info/*

Sphinx/_build/*




*.pyc
*.pyo

SimpleGUICS2Pygame/example/_img/*
SimpleGUICS2Pygame/example/_snd/*

__pycache__/*

.mypy_cache/*
.pytype/*

*~
